<div class="sidebar-left open rtl-ps-none" data-perfect-scrollbar="" data-suppress-scroll-x="true">
    <ul class="navigation-left">
        <li class="nav-item" data-item="dashboard"
        ><a (click)="changeCurrentView(viewConfig.mainView.id)" class="nav-item-hold">
            <i class="nav-icon i-Bar-Chart"></i>
            <span class="nav-text">Dashboard</span></a>
            <div class="triangle"></div>
        </li>
        <li class="nav-item" data-item="cruise">
            <a class="nav-item-hold" (click)="changeCurrentView(viewConfig.cruisePackageView.id)">
                <i class="nav-icon i-Ship"></i>
                <span class="nav-text">Cruise</span></a>
            <div class="triangle"></div>
        </li>
        <li class="nav-item" data-item="activity">
            <a class="nav-item-hold" (click)="changeCurrentView(viewConfig.activityPackageView.id)">
                <i class="nav-icon i-Bicycle"></i>
                <span class="nav-text">Activity</span></a>
            <div class="triangle"></div>
        </li>
        <li class="nav-item" data-item="apps">
            <a class="nav-item-hold" (click)="changeCurrentView(viewConfig.holidayPackageView.id)">
            <i class="nav-icon i-Hotel">
            </i><span class="nav-text">Holiday</span></a>
            <div class="triangle"></div>
        </li>
        <li class="nav-item" data-item="apps">
            <a class="nav-item-hold" (click)="changeCurrentView(viewConfig.adminView.id)">
            <i class="nav-icon i-Administrator">
            </i><span class="nav-text">Admin</span></a>
            <div class="triangle"></div>
        </li>
        
    </ul>
</div>